<% include partials/header %>

<h1>Tags for /r/<%= subreddit.name %></h1>

<div>
    <% subreddit.tags.forEach(function(tag){ %>
        <p><%= tag %></p>
        <form action="/userControlPanel/<%= subreddit.name %>/tags?_method=PUT" method="POST">
            <input type="hidden" name="tag" value="<%= tag %>">
            <input type="hidden" name="subreddit" value="<%= subreddit._id %>">
            <button type="submit">delete tag</button>
        </form>
    <% }); %>
</div>

<div>
    <form action="/userControlPanel/<%= subreddit.name %>/tags" method="POST">
        <input type="text" name="tagName" placeholder="e.g. 'creepy'">
        <button type="submit">Add tag</button>
    </form>
</div>

<% include partials/footer %>